.metadata/**
.recommenders/**
.settings/**
bin/**
target/**
*.psd
*.dtd
*.sh
*.bat
*.lnk

.classpath
.project
maven.build.log

# IntelliJ IDEA Project stuff
.idea/
out/
*.iws
*.iml
*___jb_*___
/target/
/bin/
